@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utility classes */
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

html,
body {
    font-family: "Roboto", sans-serif;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 50px;
}

p {
    line-height: 30px;
}

.container {
    max-width: 1300px;
    overflow: auto;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: inline-block;
    margin-bottom: 5px;
}

form .form-group {
    margin-bottom: 16px;
}

form .form-control {
    display: block;
    width: 100%;
}

button {
    display: inline-block;
    background: rgb(47, 78, 255);
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

button:hover {
    background: #a11515;
    color: #fff;
}

#fitness {
    background:#B8FFE2;
}

#swimming {
    background:#98FBFF;
}

#spa {
    background:#F3F3F3;
}

#golf {
    background:#F6B3B8;
}

#contact {
    background:#9c9ba1;
}

/* navbar */
#mainheader {
    background: #19104e;
}

.navbar .logo {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar ul {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a {
    text-transform: uppercase;
    color: #fff;
}

/* showcase card */

.showcase h1 {
    padding: 50px;
    font-size:  100px;
    font-weight: lighter;
    text-align: center;
    color: white;
}

.card {
    color: #000;
}

/* cambio el ancho de las cards */
.card-row {
    color: #0E0A1F;
    max-width: 700px;
    margin: 0 auto;
  }

.card-row img {
    height: 100px;
}

.card-row .card-1 img {
    margin: 0 auto;
    display: block;
}

.card-row .card-2 img {
    margin: 0 auto;
    display: block;
}

.card-row .card-3 img {
    margin: 0 auto;
    display: block;
}

.card-row .card-4 img {
    margin: 0 auto;
    display: block;
}

.card-1{
    float: left;
    width: 45%;
    background:#B8FFE2
}

.card-2{
    float: right;
    width: 45%;
    background:#98FBFF; 
}

.card-3 {
    float: left;
    width: 45%;
    background:#F3F3F3;
}

.card-4 {
    float: right;
    width: 45%;
    background:#F6B3B8;
}

/* fitness */

.activity-img {
    width: 400px;
}

#fitness img {
    float: left;
    width: 20%;
}

#fitness .text-rigth {
    float: right;
    width: 70%;
}

#swimming img {
    float: right;
    width: 20%;
}

#swiming .text-left {
    float: left;
    width: 70%;
}

#spa img {
    float: right;
    width: 20%;
}

#spa .text-rigth {
    float: left;
    width: 70%;
}

#golf img {
    float: left;
    width: 20%;
}

#golf .text-left {
    float: right;
    width: 70%;
}

#contact form {
    width: 70%;
    margin: 0 auto;
}

#contact button {
    width: 100%;
}

#footer {
    background-color: #19104e;
    color: white;
    text-align: center;
    padding: 20px;
}